@charset "UTF-8";

/* Versão Mobile */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

:root{
    --cor-nav: #162028;
    --cor-texto-menu: #425564;
    --cor-texto: #555;
}

::-webkit-scrollbar {
    display: none;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    background-image: linear-gradient(to bottom, #122530, #143b51);
    text-align: center;
}

header h1 {
    font-family: 'Viaoda Libre', cursive;
    color: #ffffff;
    font-weight: normal;
    text-shadow: 3px 2px 15px rgba(0, 0, 0, 0.717);
    font-size: 40px;
    padding: 15px;
}

nav ul {
    list-style-type: none;
    display: block;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 19px;
    padding: 15px;
    letter-spacing: 1.6px;
    text-shadow: 2px 1px 8px rgba(0, 0, 0, 0.541);
    font-variant: small-caps;
    border-top: 1.3px solid black;
}

nav a:hover{
    background-color: #164059;
}

span#burguer{
    color: #ffffff;
    padding: 6px;
}

span#burguer{
    cursor: pointer;
}

article {
    width: 90%;
    margin: auto;
    padding: 10px;
    margin-bottom: 45px;
}

.artigo-1 h2 {
    font-family: 'Viaoda Libre', cursive;    
    font-size: 31px;
    padding: 24px;
    font-weight: 550;
    text-align: center;
}

.artigo-1 p{
    text-align: center;
    color: var(--cor-texto);
    line-height: 1.6;
    padding: 10px;
    text-indent: 15px;
    width: 95%;
}

.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    padding: 25px;
    margin-bottom: 15px;
}

.card h3{
    font-family: 'Federo', sans-serif;
    text-align: center;
    color: #292929;
    margin: 12px 0px 12px 0px;
    letter-spacing: 2px;
}

.card p{
    text-align: center;
    font-variant: small-caps;
    letter-spacing: 1px;
    color: var(--cor-texto);
}

.artigo-3{
    width: 100%;
    background-color: #013142;
    background-image: url(../imagens/bg_detalhe.png);
    background-size: cover;
    background-position: right bottom;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.445);
}

.artigo-3 h2{
    text-align: center;
    font-family: 'Viaoda Libre';
    color: white;
    font-weight: normal;
    letter-spacing: 1.5px;
    padding: 20px;
}

.artigo-3 p{
    padding: 20px;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    color: #ffffffe4;
}

footer p{
    background-color: #0b171f ;
    color: #6f8597;
    text-align: center;
    padding: 15px;
}

footer a{
    color: #9aa6af;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
}